* {
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 16px;
}

window#waybar {
  transition-property: background-color;
  transition-duration: 0.5s;
  background-color: #1d1f28;
  border-radius: 0px;
}

window#waybar.hidden {
  opacity: 1.5;
}

#workspaces {
  background-color: transparent;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 2px 10px;
  min-height: 0;
  margin: 4px 4px;
  border-radius: 8px;
  background-color: #21232e;
  color: #89b4fa;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #21232e;
  background-color: #89b4fa;
}

#workspaces button.active {
  color: #bd93f9;
  background-color: #21232e;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#clock,
#pulseaudio,
#custom-logo,
#custom-network,
#custom-spotify,
#custom-notification,
#cpu,
#tray,
#memory,
#window,
#mpris {
  min-height: 0;
  padding: 2px 6px;
  margin: 2px;
  border-radius: 8px;
  background-color: #21232e;
  color: #89b4fa;
}

#mpris.playing {
  color: #1ed760
}

#mpris.paused {
  color: #89b4fa;
}

#custom-sep {
  padding: 0px;
  color: #89b4fa;
}

window#waybar.empty #window {
  background-color: transparent;
}

#cpu {
  color: #8be9fd;
}

#memory {
  color: #50fa7b;
}

#clock {
  color: #ff5555;
}

#clock.simpleclock {
  color: #bd93f9;
}

#window {
  color: #bd93f9;
}

#pulseaudio {
  color: #ffb86c;
}

#pulseaudio.muted {
  color: #89b4fa;
}

#custom-logo {
  color: #89b4fa;
}

#custom-bluetooth {
  background-color: #21232e;
  color: #89b4fa;
  padding: 2px 6px;
  font-size: 16px;
  font-weight: bold;
  margin: 2px;
  border-radius: 8px;
}

#custom-notification {
  background-color: #21232e;
  color: #89b4fa;
  padding: 2px 6px;
  font-size: 16px;
  margin: 2px;
  border-radius: 8px;
}

#custom-network {
  color: #89b4fa;
  padding-right: 5px;
  font-size: 16px;
  margin: 2px;
  border-radius: 8px;
}

#custom-power {
  color: #ff5555;
  padding-right: 5px;
  font-size: 16px;
  margin: 2px;
  border-radius: 8px;
}

tooltip {
  background-color: #21232e;
  border: 2px solid #bd93f9;
}
