* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: large;
  color: #c4d3da;
}

window {
  border: 3px solid #ABE1FA;
  background: #303033;
  border-radius: 15px;
}

#input {
  margin: 1.5em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  border: none;
  font-weight: bold;
  background: #1e2030;
  color: #9a9c9c;
}

#input:focus {
  border: 1px solid #ABE1FA;
}

#inner-box {
  margin: 1.5em;
  margin-top: 0.5em;
}

#outer-box {
  margin-bottom: 4px;
}

#scroll {
  margin-top: 5px 0;
  display: none;
}

#text {
  margin-left: 0.5em;
  color: #c4d3da;
}

#text:selected {
  color: #16161e;
}

#entry {
  margin-top: 8px;
  border-radius: 0px;
}

#entry:selected {
  background: linear-gradient(90deg, #ABE1FA 0%, #70e6c2 80%);
}
